#currentContent {
    position: absolute;
    left: 0px;
    top: 50px;
    margin: 0px auto;
    color: #fff;
    z-index: 0;
    margin-left: 2.5%;   /* left corner width */
    margin-bottom: 0.5em;    /* spacing under currentContent */
    width: 100%;
    height: 88%;
}

.current-content-content,
.current-content-top,
.current-content-bottom,
.current-content-bottom div {
    background: url('../images/bg_currentContent.png') no-repeat top right;
}

.current-content-over {
    background-image: url('../images/bg_currentContent_over.png');
}

.clickable {
    cursor: pointer;
}

.current-content-content {
    position: relative;
    padding: 0px;
    height: 100%;
}

.current-content-top { /* top left vertical */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px; /* top slice width */
    margin-left: -25px;
    height: 100%;
    background-position: top left;
}

.current-content-bottom {    /* bottom */
    position: relative;
    width: 100%;
}

.current-content-bottom,
.current-content-bottom div {
    height: 25px; /* height of bottom */
    font-size: 1px;
}

.current-content-bottom {
    background-position: bottom right;
}

.current-content-bottom div {
    position: relative;
    width: 25px; /* bottom left corner width */
    margin-left: -25px;
    background-position: bottom left;
}

.current-content-body {
     position: relative;
     height: 100%;
     width: 100%;
}

h1, p {
    margin: 0px; /* leave this alone */
    padding: 0px;
}

h3 {
	padding-top: 25px;
	padding-bottom: 15px;
}

h1 {
    padding-bottom: 0px;
}